<div class="gallery-container">
  <ul class="gallery">
    {% assign pictures = site.data.contentful.spaces.NadirFasola.portofilioPicture | reverse %}
    {% for picture in pictures %}
    <li
      class="gallery-item"
      data-filter="{{ picture.filters }}"
      data-caption="{{ picture.caption }}"
      {% for img in picture.imgs %}
      {% if img.url contains "-full.jpg" %} data-fullSizeJpg="{{ img.url }}"
      {% elsif img.url contains "-full.webp" %} data-fullSizeWebp="{{ img.url }}"
      {% endif %}
      {% endfor %}
    >
      {% for img in picture.imgs %} {% if img.url contains "-thumb.webp" %}
      <source srcset="{{ img.url }}" />
      {% elsif img.url contains "-thumb.jpg" %}
      <source srcset="{{ img.url }}" />
      <img
        src="{{ img.url }}"
        alt="{{ picture.alt }}"
        title="{{ picture.title }}"
      />
      {% endif %} {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>

<script src="/assets/js/createGallery.js" defer></script>
