<div class="gallery-container">
  <ul class="gallery">
    {% for picture in site.data.contentful.spaces.NadirFasola.portofilioPicture
    %}
    <li class="gallery-item" data-filter="{{ picture.filters }}">
      {% for img in picture.imgs %} {% if img.url contains "-thumb.webp" %}
      <source srcset="{{ img.url }}" />
      {% elsif img.url contains "-thumb.jpg" %}
      <source srcset="{{ img.url }}" />
      <img
        src="{{ img.url }}"
        alt="{{ picture.alt }}"
        title="{{ picture.title }}"
      />
      {% endif %} {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>

<script src="/assets/js/createGallery.js" defer></script>
