<div class="link-wrapper-mobile" id="link-wrapper-mobile">
  <ul class="link">
    {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}" title="Drop me a line!">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    {% endif %} {%- for platform in site.sidebar %}
    <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
    <li>
      <a href="{{ platform.link }}" title="{{platform.name}}"
        >{{ platform.icon }}</a
      >
    </li>
    {%- endfor %}
  </ul>
</div>
