<div class="nataleWrapper">
  <div class="cardWrapper">
    <div class="christmasCardBorder">
      <div class="christmasCard" id="frontCard">
        <div class="train-icon"></div>
        <div class="boardingPass">BOARDING PASS</div>
        <div class="destination">
          <div class="location">SHF</div>
          <div class="doubleArrow">&#8652;</div>
          <div class="location">YRK</div>
        </div>
        <div class="getaway">VALERIA'S<br />GETAWAY<br />VOUCHER</div>
        <div class="when">
          <div class="whenWrapper">
            <p class="data">18 FEB 2022</p>
            <p class="description">DATE</p>
          </div>
          <div class="whenWrapper">
            <p class="data">9:21 AM</p>
            <p class="description">TIME</p>
          </div>
          <div class="whenWrapper">
            <p class="data">19 FEB 2022</p>
            <p class="description">RETURN</p>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="barcode">
          <div class="barcode-svg"></div>
          <div class="scanMe">SCAN ME</div>
        </div>
        <div class="footerInfo">
          <p class="infoP">
            COTOLETTI TRAVELS<br />408A FULWOOD RD<br />SHEFFIELD S10 3GG
          </p>
          <hr />
          <p class="infoP">VALIDITY 25 DEC 2022</p>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <p class="moreInfo">Want more info?</p>
  </div>
</div>
